<div class="app-nav">
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item">Accueil</a>
        <a class="item">Aviron</a>
        <a class="item">Club</a>
        <a class="item">Inscription</a>
        <div class="right menu">
        <div class="item">
            <a class="ui button">Administration</a>
        </div>
        <div class="item">
            <a class="ui primary button">S'enregistrer</a>
        </div>
        </div>
    </div>
    </div>
</div>