<div class="app-nav">
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
    <div class="ui container">
        <router-link class="item" to='app-article-view'>Accueil</router-link>
        <router-link class="item" to='toto'>Aviron</router-link>
        <router-link class="item" to='tata'>Club</router-link>
        <router-link class="item" to='tata'>Inscription</router-link>
        <div class="right menu">
        <div class="item">
            <router-link class="ui button" to='toto'>Administration</router-link>
        </div>
        <div class="item">
            <router-link class="ui primary button" to='toto'>S'enregistrer</router-link>
        </div>
        </div>
    </div>
    </div>
</div>